* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;

    font-family: "Alata", sans-serif;
}

html, body {
    overflow-x: hidden;
}

/** HEADER PC **/

.header {
    background-color: #C4C4C4;
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
}

.inner_header {
    height: 100%;
    width: 100%;
    max-width: 1300px;
    padding: 0 10px 0 10px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, .logo a {
    font-size: 2rem;
    color: black;
    font-weight: 400;
    
}

.header_nav_itens {
    display: inline;
    font-size: 1.2rem;
    margin-left: 2vw;
    font-weight: bold;
    
}

.header_nav_itens > a {
    color: black;
}

/** MAIN  **/

.main_content_image{
    margin-left: 10px;
}

.main_content {
    height: 500px;
    width: 100%;
    background-color: #F3F3F3;

    display: flex;
    justify-content: center;
}

.inner_main_content {
    height: 100%;
    width: 100%;
    max-width: 1100px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_content_text {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;

    padding-left: 100px;
}

.main_content_text p {
    width: 80%;
    min-width: 200px;
    font-size: 1.3rem;
}

.main_content_text h2 {
    margin-bottom: 30px;
    font-size: 1.6rem;
}

/** SUBMAIN **/

.sub_content {
    width: 100%;
    height: 300px;


    display: flex;

    padding-top: 50px;
}

.sub_content h2 {
    font-size: 1.2rem;
}

.sub_content_hobbie {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-right: 20px;
}

.sub_content_top {
    width: 50%;

    display: flex;
    flex-direction: column;

    margin-left: 20px;

}

.card_wrapper, .card_wrapper_mobile {
    display: flex;

}

.card {
    height: 150px;
    width: 104px;
    background-color: bisque;

    margin-top: 20px;
    margin-left: 15px;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}



/** FOOTER **/ 


.footer {
    width: 100%;
    height: 70px;

    background-color: #C4C4C4;

    display: flex;
    justify-content: center;
}

.inner_footer {
    height: 100%;
    width: 100%;
    max-width: 1300px;
    padding: 0 10px 0 10px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer_nav_iten {
    display: inline;
}


/** MOBILE **/

@media (max-width: 1000px) {
html, body{
    font-size: 12px;
    overflow-x: hidden;
}

.inner_main_content{
    display: flex;
    flex-direction: column;

}

.main_content_image {
    width: 100%;
    padding: 0;
    margin: 0;
}

.main_content_image img{
    width: 100%;
    padding: 0;
}


.sub_content {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;

    padding-bottom: 50px;
}

.sub_content_hobbie{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.sub_content_top{
    width: 100%;
    margin: 0;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

}


.card_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}


}


.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }